POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSLMODE=require

OPENMETADATA_HOST_PORT=http://localhost:8585/api
OPENMETADATA_JWT_TOKEN=replace_if_using_external_ingestion